{% extends "base.html.twig"%}
{%block body%}






    <div class="panel span9">
        <div class="panel-header">

            <h3>Acerca de...</h3>
        </div>
        <div class="panel-body">


            <p class="text-left">

                HRETA es una herramienta que contribuirá a automatizar el  proceso de Revisiones Técnicas Formales dirigido a la Arquitectura de un proyecto. La herramienta que se presenta aligera la carga de los revisores al realizar una evaluación preliminar de aspectos automatizables de los  diferentes artefactos  y vistas de la Arquitectura. Se espera con esta herramienta propuesta favorecer la realización de revisiones, con lo cual mejorará la calidad del software al reducir la inyección y propagación de defectos .

                Disfrútela !!!
            </p>

            <div class="logo2"><img class="img_logo" src="{{asset('bundles/entidades/images/logo.png')}}" alt=""></div>

            <h4>Desarrolladores :</h4>
            <div class="row-fluid">
                <div class=" span6">
                    <h3> Gino Miguel Ricardo González</h3>
                    <img class="img_logo" src="{{asset('bundles/entidades/images/gino.jpg')}}" style="width:200px; height: 200px; margin-left: 0px!important"></div>
                <div class="span6">
                    <h3 style=""> Yairon Consuegra Cabrera</h3>
                    <img class="img_logo " src="{{asset('bundles/entidades/images/yairon.jpg')}}" style="width:200px; height: 200px; margin-left: 0px!important"></div>
            </div>
        </div>

    </div>


{% endblock%}