{% extends '::base.html.twig' %}
{% form_theme form '::theme.html.twig'%} 
{% block body -%}
    

    <div class="panel span6 offset1">
        <div class="panel-header">

            <h3>Registro de  proyecto</h3>
        </div>
        <div class="panel-body">

            <div class="span6 offset3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <br>
                <div class="pull-right">
                    <button type="submit" class="btn"  />Aceptar</button>

                    <a class="btn" href="{{ path('proyecto',{'reject':true})}}">
                        Cancelar
                    </a>
                </div>
                <br>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}
